
@{
    ViewBag.Title = "AdminTasks";
}

<h2>Admin Tasks</h2>

<li>@Html.ActionLink("Manage your Steps", "Index", "MasterSteps")</li>

<li>@Html.ActionLink("Manage User Roles", "Index", "AspNetUsers")</li>
